@media(max-width: 1200px)
 .container
  width: 910px

 .hotel
  &-slider
   width: 550px
 .card
  width: 215px

@media(max-width: 992px)
 .container, .newsletter-container
  width: 700px
 .header
  &-top
   padding-top: 30px
   padding-bottom: 30px
 .logo
  width: 133px
 .search-form
  margin-right: auto
  margin-left: auto
  &__input
   width: 340px

 .navbar
  &-menu
   padding-top: 22px
   padding-bottom: 22px
   &__link
    font-size: 12px
    line-height: 15px

 .hotel
  &-grid
   flex-wrap: wrap
  &-slider
   width: 700px
   margin-bottom: 30px

 .price
  &-map
   display: flex
   flex-direction: row
   width: 100%
 .booking
  padding-right: 22px
  padding-left: 22px
  width: 340px

 .activities
  &__wrapper
   flex-wrap: wrap
 .card
  flex-basis: 49%
  margin-bottom: 20px

 .footer
  &__wrapper
   grid-template-columns: 30% 35% 35%
   grid-row-gap: 38px
   grid-template-rows: minmax(max-content, auto) minmax(max-content, auto) 22px minmax(max-content, auto)
  &__logo
   grid-row-start: span 1
   width: 104px
  &-contact
   &__details
    grid-column-start: span 3
  &__social
   &-network
    grid-row-start: 1
    grid-column-start: 2
    grid-column-end: span2
   &__categories
    grid-row-start: 3
   &__additional
    grid-row-start: 3
   &__information
    grid-row-start: 3
  &__message
   grid-row-start: 5
   grid-column-start: 1
   grid-column-end: span 2
  &-conditions
   &__list 
    grid-column-start: 1
   &__item
    &:first-child
     margin-left: 0
   &__pay
    &-systems
     grid-column-start: 3

@media(max-width: 768px)
 .container
  width: 576px
 .header
  &-top
   padding-top: 28px
   padding-bottom: 28px
 .logo
  width: 99px
 .search-form, .user, .navbar
  display: none
 .menu
  &-button
   display: flex
   justify-content: space-between
   flex-direction: column
   align-items: center
   width: 16px
   height: 11px
   border: none
   background-color: #fff
   &__line
    width: 16px
    height: 1px
    background-color: #333333
 
 .hotel
  &-info
   &__text
    flex-basis: 100%
   &__wrapper
    justify-content: space-between
    flex-basis: 100%
   &__name
    flex-basis: 100%
   &__ratting
    display: none
   &__offer

    order: -1
   &__stars
    flex-basis: auto
   &-grid
    width: 100%
  &-slider
   width: 100%
   /*&__container
    height: 382px*/
 .price
  &-map
   flex-direction: column
   flex-basis: 100%
 .booking
  width: 100%
  flex-basis: 100%
  margin-bottom: 20px
 .map
  width: 100%
  flex-basis: 100%
 .newsletter
  &-container
   width: 576px
   flex-direction: column
  &-text
   margin-bottom: 37px
 .reviews
  &-slider
   &__button
    top: 45px
   &-button
    &--next
     right: 50%
     transform: translate(110px, -16px)
    &--prev
     left: 50%
     transform: translate(-110px, -16px)
   &__contant
    &:before
     display: none
    &:after
     display: none
  &__title
   font-size: 30px
   line-height: 38px
  
 .footer
  &__wrapper
   grid-template-columns: 100%
   grid-template-rows: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto)
  &__logo
   grid-column-start: 1 
   grid-column-end: span 1
   grid-row-start: 1 
   grid-row-end: span 1 

  &__categories
   grid-column-start: 1 
   grid-column-end: span 1
   grid-row-start: 5 
   grid-row-end: span 1 
  &__additional
   grid-column-start: 1 
   grid-column-end: span 1
   grid-row-start: 4 
   grid-row-end: span 1 
  &__social
   &-network
    grid-column-start: 1 
    grid-column-end: span 1
    grid-row-start: 2 
    grid-row-end: span 1 
    flex-direction: column
    align-items: start
  &__information
   grid-column-start: 1 
   grid-column-end: span 1
   grid-row-start: 3 
   grid-row-end: span 1 
  &__contact
   &-details
    grid-column-start: 1 
    grid-column-end: span 1
    grid-row-start: 6 
    grid-row-end: span 1 
  &__message
   grid-column-start: 1 
   grid-column-end: span 1
   grid-row-start: 7 
   grid-row-end: span 1 
 .social
  &-network
   &__list
    margin-left: 0
    flex-basis: 50%
    justify-content: space-between
   &__item
    margin-right: 12px

   
  
    
   
   
 
 


@media(max-width: 600px)
 .container, .newsletter-container
  width: 560px
  max-width: 92%
 .hotel
  &-slider
   height: 179px
   &__container
    height: 100%
   &__slide
    height: 100%
   &__image
    width: 100%
 .email-form
  width: 280px
 .activities
  &__title
   font-weight: bold
   font-size: 18px
   line-height: 23px
   margin-top: 40px
   margin-bottom: 36px
 .card
  flex-basis: 100%
  

@media(max-width: 576px)
 .footer
  padding-bottom: 20px
  &-conditions
   grid-template-columns: 1fr
   grid-template-rows: minmax(max-content, auto) minmax(max-content, auto)
   margin-top: 30px
   margin-bottom: 10px
   &__list
    grid-column-start: 1
    grid-row-start: 1
   &__pay
    &-systems
     grid-column-start: 1
     grid-row-start: 2
     justify-self: start

 .form
  &-message
   &__input
    flex-basis: 100%
    margin-bottom: 15px
   &__textarea
    margin-top: 0
    margin-bottom: 15px
   &__wrapper
    flex-direction: column
    align-items: flex-start
   &__requared
    order: -1
    margin-bottom: 15px

@media(max-width: 320px)
 .container
  width: 278px
 .contact
  &-details
   &__icon
    margin-right: 12px
  
